doctype html
html
	head
		title some title
		include ../base/head.pug
	body
		include ../base/nav.pug
		
		div.container.page-container
			h4 Sentence Structure
			p The sentence structure of Korean is generally Subject + Object + Verb. The order of the subject and object is flexible because the Korean language has what is known as 'particles'. Particles are markers that indicate whether the preceeding word is a subject, object, or any other type of marker such as a destination marker.

		include ../base/footer.pug
		include ../base/js.pug