doctype html
html
	head
		title some title
		include ../base/head.pug
	body
		include ../base/nav.pug
		
		div.container.page-container
			h4 Sentence Structure
			p The sentence structure of Korean is generally Subject + Object + Verb. The order of the subject and object is flexible because the Korean language has what is known as 'particles'. Particles are markers that indicate whether the preceeding word is a subject, object, or any other type of marker such as a destination marker.
			p Depending on the context, the subject and object can be omitted if it is immediately obvious what is being referred to.
			div.divider
			h4 Speech Forms
			p When speaking to another person, different types of speech forms are used. The type of speech form to be used it dependent on age, social status, and the personal relationship to the person being spoken to. The basic forms are:
			ol
				li Formal Polite
				li Informal Polite
				li Formal Plain
				li Informal Plain
			p 
		include ../base/footer.pug
		include ../base/js.pug