doctype html
html
	head
		title some title
		include ../base/head.pug
	body
		include ../base/nav.pug
		
		div.container.page-container
			h4 Vowels and Consonants
			p The Korean alphabet (hangul) contains 21 vowels and 19 consonants. Here are tables for the Korean consonant and vowels:
			div.row
				div.col.s12.l6
					table.centered
						thead
							tr
								th Vowel
								th Pronunciation ▶️
								th Example
						tbody
							tr
								td ㅏ
								td.speak(onClick="speak('ㅏㅏ');") a
								td f#[strong a]ther, #[strong ah]
							tr
								td ㅓ
								td.speak(onClick="speak('ㅓㅓ');") eo
								td m#[strong u]d, g#[strong u]n
							tr
								td ㅗ
								td.speak(onClick="speak('ㅗㅗ');") o
								td t#[strong o]e, #[strong oh]
							tr
								td ㅜ
								td.speak(onClick="speak('ㅜㅜ');") u
								td t#[strong oo]l, sh#[strong oo]t
							tr
								td ㅡ
								td.speak(onClick="speak('ㅡㅡ');") eu
								td r#[strong oo]k, p#[strong u]t
							tr
								td ㅣ
								td.speak(onClick="speak('ㅣㅣ');") i
								td b#[strong ee], spaghett#[strong i]
							tr
								td ㅑ
								td.speak(onClick="speak('ㅑㅏ');") ya
								td #[strong ya]cht, jambala#[strong ya]
							tr
								td ㅕ
								td.speak(onClick="speak('ㅕㅓ');") yeo
								td y#[strong ou]ng
							tr
								td ㅛ
								td.speak(onClick="speak('ㅛㅗ');") yo
								td #[strong yo], embr#[strong yo]
							tr
								td ㅠ
								td.speak(onClick="speak('ㅠㅜ');") yu
								td #[strong you], f#[strong u]tile
							tr
								td ㅔ
								td.speak(onClick="speak('ㅔㅔ');") e
								td #[strong e]gg, b#[strong e]t
							tr
								td ㅐ
								td.speak(onClick="speak('ㅐㅐ');") ae
								td #[strong a]t, b#[strong a]nk
							tr
								td ㅖ
								td.speak(onClick="speak('ㅖㅔ');") ye
								td #[strong ye]s, #[strong ye]ti
							tr
								td ㅒ
								td.speak(onClick="speak('ㅒㅐ');") yae
								td y#[strong a]nk
							tr
								td ㅘ
								td.speak(onClick="speak('ㅘㅏ');") wa
								td #[strong wa]tt, #[strong wa]ter
							tr
								td ㅝ
								td.speak(onClick="speak('ㅝ');") wo
								td #[strong wo]nder
							tr
								td ㅚ
								td.speak(onClick="speak('ㅚ');") eo
								td #[strong wa]y
							tr
								td ㅟ
								td.speak(onClick="speak('ㅟㅣ');") wi
								td #[strong we]
							tr
								td ㅙ
								td.speak(onClick="speak('ㅙ');") wae
								td #[strong wa]gon, #[strong wa]iver
							tr
								td ㅞ
								td.speak(onClick="speak('ㅞ');") we
								td #[strong we]ll, #[strong We]ndy
							tr
								td ㅢ
								td.speak(onClick="speak('ㅢ');") ui
								td b#[strong uoy]
				div.col.s12.l6
					table.centered
						thead
							tr
								th Consonant#[a(href="#note1") *]
								th Initial 
								th Final #[a(href="#note2") **]
								th Example
						tbody
							tr
								td ㅂ
								td.speak(onClick="speak('브ㅡ');") b
								td.speak(onClick="speak('읍');") p
								td #[strong b]oy/po#[strong p]
							tr
								td ㅃ
								td.speak(onClick="speak('쁘ㅡ');") pp
								td
								td s#[strong p]y
							tr
								td ㅈ
								td.speak(onClick="speak('즈ㅡ');") j
								td.speak(onClick="speak('읒');") t
								td #[strong j]et/cu#[strong t]
							tr
								td ㅉ
								td.speak(onClick="speak('쯔ㅡ');") jj
								td
								td cu#[strong ts]
							tr
								td ㄷ
								td.speak(onClick="speak('드ㅡ');") d
								td.speak(onClick="speak('읃');") t
								td #[strong d]og/cu#[strong t]
							tr
								td ㄸ
								td.speak(onClick="speak('뜨ㅡ');") dd
								td
								td s#[strong t]ick
							tr
								td ㄱ
								td.speak(onClick="speak('그ㅡ');") g
								td.speak(onClick="speak('윽');") k
								td #[strong g]un/slac#[strong k]
							tr
								td ㄲ
								td.speak(onClick="speak('끄ㅡ');") kk
								td
								td s#[strong k]y
							tr
								td ㅅ
								td.speak(onClick="speak('스ㅡ');") s
								td.speak(onClick="speak('읏');") t
								td #[strong s]pring/cu#[strong t]
							tr
								td ㅆ
								td.speak(onClick="speak('쓰ㅡ');") ss
								td.speak(onClick="speak('읐');") t
								td #[strong s]ink/cu#[strong t]
							tr
								td ㄴ
								td.speak(onClick="speak('느ㅡ');") n
								td
								td #[strong n]eat
							tr
								td ㄹ
								td.speak(onClick="speak('르');") r
								td.speak(onClick="speak('을');") l
								td #[strong r]adio/unti#[strong l]
							tr
								td ㅁ
								td.speak(onClick="speak('므ㅡ');") m
								td
								td #[strong m]other
							tr
								td ㅇ#[a(href="#note3") ***]
								td 
								td.speak(onClick="speak('응');") ng
								td pi#[strong ng]
							tr
								td ㅋ
								td.speak(onClick="speak('크ㅡ');") k
								td
								td #[strong k]id
							tr
								td ㅌ
								td.speak(onClick="speak('트ㅡ');") t
								td.speak(onClick="speak('읕');") t
								td #[strong t]ee/cu#[strong t]
							tr
								td ㅊ
								td.speak(onClick="speak('츠ㅡ');") ch
								td.speak(onClick="speak('읓');") t
								td #[strong ch]eese/cu#[strong t]
							tr
								td ㅍ
								td.speak(onClick="speak('프ㅡ');") p
								td
								td #[strong p]ing
							tr
								td ㅎ
								td.speak(onClick="speak('흐ㅡ');") h
								td.speak(onClick="speak('읗');") t
								td #[strong h]en/cu#[strong t]
			ul
				li#note1 #[em * The sound of a consonant depends on where it is in the syllable block.]
				li#note2 #[em ** If the final column is empty, the sound of the consonant is the same as in the initial position.]
				li#note3 #[em *** ㅇ does not have a sound in the initial position, it is simply used as a decoration.]

			div.divider
			h4 Names of Consonants
			p The Korean alphabet has names for each character in the alphabet just like English. The names of vowels are the same as how they sound. For example, the name of ㅏ is 아 (ah). However, consonants have their own names. Here is a table of the names of consonants:

			table.centered
				thead
					tr
						th Consonant
						th Name
						th Pronunciation ▶️
				tbody
					tr
						td ㄱ
						td 기역
						td.speak(onClick="speak('ㄱ');") gi-yeok
					tr
						td ㄷ
						td 디귿
						td.speak(onClick="speak('ㄷ');") di-guet
					tr
						td ㅅ
						td 시옷
						td.speak(onClick="speak('ㅅ');") si-ot
					tr
						td ㄴ
						td 니은
						td.speak(onClick="speak('ㄴ');") ni-eun
					tr
						td ㄹ
						td 리을
						td.speak(onClick="speak('ㄹ');") ri-eul
					tr
						td ㅁ
						td 미음
						td.speak(onClick="speak('ㅁ');") mi-eum
					tr
						td ㅂ
						td 비읍
						td.speak(onClick="speak('ㅂ');") bi-eup
					tr
						td ㅇ
						td 이응
						td.speak(onClick="speak('ㅇ');") i-eung
					tr
						td ㅈ
						td 지읒
						td.speak(onClick="speak('ㅈ');") ji-eut
					tr
						td ㅊ
						td 치읓
						td.speak(onClick="speak('ㅊ');") chi-eut
					tr
						td ㅋ
						td 키읔
						td.speak(onClick="speak('ㅋ');") ki-euk
					tr
						td ㅌ
						td 티읕
						td.speak(onClick="speak('ㅌ');") ti-eut
					tr
						td ㅍ
						td 피읖
						td.speak(onClick="speak('ㅍ');") pi-eup
					tr
						td ㅎ
						td 히읗
						td.speak(onClick="speak('ㅎ');") hi-eut
					tr
						td ㅃ
						td 쌍비읍 
						td.speak(onClick="speak('ㅃ');") ssang-bi-eup
					tr
						td ㅉ
						td 쌍지읒
						td.speak(onClick="speak('ㅉ');") ssang-ji-eut
					tr
						td ㄸ
						td 쌍디귿
						td.speak(onClick="speak('ㄸ');") ssang-di-guet
					tr
						td ㄲ
						td 쌍기역
						td.speak(onClick="speak('ㄲ');") ssang-gi-yeok
					tr
						td ㅆ
						td 쌍시옷
						td.speak(onClick="speak('ㅆ');") ssang-si-ot

			h5 Some memorization tricks
			ol
				li The names of double consonant characters are the same as the single consonant characters with a 쌍 prefix.
				li The character at the beginning and end of the name of a consonant is the same as the consonant character. For example, ㄱ (기역) starts and ends with ㄱ.
				li Excluding ㄱ, ㄷ, ㅅ every consonant name follows the spelling: #[pre _ ㅣ으 _] where the blanks are the character for the corresponding consonant.

			div.divider
			h4 Forms of Syllable Blocks
			p There are four different types of syllable blocks: 
			ul
				li vowel
				li vowel + consonant
				li consonant + vowel
				li consonant + vowel + consonant
			table
				thead
					tr
						th Type
						th Example
				tbody
					tr
						td Vowel
						td 아, 어, 오, 우, 애, 왜
					tr
						td Vowel + Consonant
						td 일, 입, 엑, 원, 앍, 앆
					tr
						td Consonant + Vowel
						td 가, 터, 로, 투, 배, 화
					tr
						td Consonant + Vowel + Consonant
						td 길, 눈, 빨, 된, 닭, 볶

			div.divider
			h4 Pronunciation Rules
			p In the case of when a syllable ends with a consonant and the proceeding syllable begins with a vowel, usually the sound of the consonant is carried over.  #[pre 이것은 -> 이거슨]
			p When a syllable ends with ㄱ and the proceeding syllable begins with a consonant, then the consonant is stressed as a double consonant. #[pre 학교 -> 학꼬]
			


		include ../base/footer.pug
		include ../base/js.pug