doctype html
html
	head
		title some title
		include ../base/head.pug
	body
		include ../base/nav.pug
		
		div.container.page-container
			include ../base/loading.pug

			div#content.loading
				ul.collapsible(data-collapsible="expandable")
					each lesson in vocabulary
						li
							div.collapsible-header
								h4 #{lesson.title}
							div.collapsible-body(id="vocab"+lesson.id)
								div.container
									table.t8
										thead
										tbody
									table.t4
										thead
										tbody
									table.t16
										thead
										tbody
									table.t32
										thead
										tbody
									table.t64
										thead
										tbody
									table.t2
										thead
										tbody
									table.t1
										thead
										tbody

		include ../base/footer.pug
		include ../base/js.pug
		script.
			function getType(type){
				if ((type & 1) == 1)
					return [1, 'Hangul']
				else if ((type & 2) == 2)
					return [2, 'Particle'];
				else if ((type & 4) == 4)
					return [4, 'Noun'];
				else if ((type & 8) == 8)
					return [8, 'Pronoun']
				else if ((type & 16) == 16)
					return [16, 'Noun modifier'];
				else if ((type & 32) == 32)
					return [32, 'Verb'];
				else if ((type & 64) == 64)
					return [64, 'Adverb'];
			}
			function appendTo(id, data){
				var type = getType(data.type);
				if (!$('#'+id+' .t'+type[0]+' thead tr').length)
					$('#'+id+' .t'+type[0]+' thead').append('<tr><th>'+type[1]+'</th></tr>');
				$('#'+id+' .t'+type[0]+' tbody').append('<tr><td class="speak" onClick="speak(\''+data.korean+'\')">'+data.korean+'</td><td>'+data.english+'</td></tr>');
			};
			vocabIDs = [1,2,3,4,5]
			for (var i=0; i<5;i++){(function (i){
				$.getJSON('https://api-korea101r.herokuapp.com/words?vocab_id='+vocabIDs[i], data => {
					loadContent();

					for (var j=0;j<data.length;j++){
						appendTo('vocab'+vocabIDs[i], data[j]);
					}
				});
			})(i);}