doctype html
html
	head
		title KOREA 101R
		include base/head.pug
	body
		include base/nav.pug
		
		div.container.page-container
			h4 Introductory Korean Language Course Aid
			p This is a tool used to aid with learning material for the course KOREA 101R at the Renison University College. There are several interactive exercises in this application to target specific skills. Each exercise has subsections with different sets of words. 
			p The #[i Dictation] exercises target your listening skills. You will listen to a snippet of audio that can be repeated as many times as you wish, then type the correct word associated with the snippet.
			p The #[i Translate] exercises are broken into two categories: English->Korean and Korean->English. In each category, you will be given a word in one language and must translate it to the other.
			p The #[i Grammar] exercises will target your ability to conjugate verbs and use the appropriate particles. You will be given sentences containing blanks that you are to fill with the appropriate characters.

			div.row
				div.col.s12.l8.offset-l2
					ul.collection.with-header
						li.collection-header
							h5 Exercises
						a(href="exercise/dictation").collection-item 
							li Dictation
						a(href="exercise/translate").collection-item 
							li Translate
						a(href="exercise/grammar").collection-item 
							li Grammar

			div.divider

			h4 Additional Resources
			p Over the duration of the course, I will be adding my own notes below to assist in understanding the course content.
			div.row
				div.col.s12.l8.offset-l2
					ul.collection.with-header
						li.collection-header
							h5 My Notes
						a(href="/notes/1").collection-item
							li Vowel/Consonants and Pronunciation
						a(href="/notes/2").collection-item
							li 2
						a(href="/notes/3").collection-item
							li 3

		
		include base/footer.pug
		include base/js.pug