div.keyboard
	div.key-row
		button.minimize #[span.minimize-label]
	div.key-row
		button.key.key-generic#k_192.
			#[span.key-label.key-label-top ~]
			#[span.key-label.key-label-bottom `]
		button.key.key-generic#k_49.
			#[span.key-label.key-label-top !]
			#[span.key-label.key-label-bottom 1]
		button.key.key-generic#k_50.
			#[span.key-label.key-label-top @]
			#[span.key-label.key-label-bottom 2]
		button.key.key-generic#k_51.
			#[span.key-label.key-label-top #]
			#[span.key-label.key-label-bottom 3]
		button.key.key-generic#k_52.
			#[span.key-label.key-label-top $]
			#[span.key-label.key-label-bottom 4]
		button.key.key-generic#k_53.
			#[span.key-label.key-label-top %]
			#[span.key-label.key-label-bottom 5]
		button.key.key-generic#k_54.
			#[span.key-label.key-label-top ^]
			#[span.key-label.key-label-bottom 6]
		button.key.key-generic#k_55.
			#[span.key-label.key-label-top &amp;]
			#[span.key-label.key-label-bottom 7]
		button.key.key-generic#k_56.
			#[span.key-label.key-label-top *]
			#[span.key-label.key-label-bottom 8]
		button.key.key-generic#k_57.
			#[span.key-label.key-label-top (]
			#[span.key-label.key-label-bottom 9]
		button.key.key-generic#k_48.
			#[span.key-label.key-label-top )]
			#[span.key-label.key-label-bottom 0]
		button.key.key-generic#k_189.
			#[span.key-label.key-label-top ¯]
			#[span.key-label.key-label-bottom -]
		button.key.key-generic#k_187.
			#[span.key-label.key-label-top +]
			#[span.key-label.key-label-bottom =]
		button.key.key-backspace#k_8 ←
	div.key-row
		button.key.key-tab#k_9
		button.key.key-generic#k_81.
			#[span.key-label.key-label-top ㅃ]
			#[span.key-label.key-label-bottom ㅂ]
		button.key.key-generic#k_87.
			#[span.key-label.key-label-top ㅉ]
			#[span.key-label.key-label-bottom ㅈ]
		button.key.key-generic#k_69.
			#[span.key-label.key-label-top ㄸ]
			#[span.key-label.key-label-bottom ㄷ]
		button.key.key-generic#k_82.
			#[span.key-label.key-label-top ㄲ]
			#[span.key-label.key-label-bottom ㄱ]
		button.key.key-generic#k_84.
			#[span.key-label.key-label-top ㅆ]
			#[span.key-label.key-label-bottom ㅅ]
		button.key.key-generic#k_89 ㅛ
		button.key.key-generic#k_85 ㅕ
		button.key.key-generic#k_73 ㅑ
		button.key.key-generic#k_79.
			#[span.key-label.key-label-top ㅒ]
			#[span.key-label.key-label-bottom ㅐ]
		button.key.key-generic#k_80.
			#[span.key-label.key-label-top ㅖ]
			#[span.key-label.key-label-bottom ㅔ]
		button.key.key-generic#k_219.
			#[span.key-label.key-label-top {]
			#[span.key-label.key-label-bottom []
		button.key.key-generic#k_221.
			#[span.key-label.key-label-top }]
			#[span.key-label.key-label-bottom &#93;]
		button.key.key-backslash#k_220.
			#[span.key-label.key-label-top |]
			#[span.key-label.key-label-bottom \]
	div.key-row
		button.key.key-capslock#k_20 
		button.key.key-generic#k_65 ㅁ
		button.key.key-generic#k_83 ㄴ
		button.key.key-generic#k_68 ㅇ
		button.key.key-generic#k_70 ㄹ
		button.key.key-generic#k_71 ㅎ
		button.key.key-generic#k_72 ㅗ
		button.key.key-generic#k_74 ㅓ
		button.key.key-generic#k_75 ㅏ
		button.key.key-generic#k_76 ㅣ
		button.key.key-generic#k_186.
			#[span.key-label.key-label-top :]
			#[span.key-label.key-label-bottom ;]
		button.key.key-generic#k_222.
			#[span.key-label.key-label-top "]
			#[span.key-label.key-label-bottom ']
		button.key.key-return#k_13
	div.key-row
		button.key.key-lshift#k_lshift
		button.key.key-generic#k_90 ㅋ
		button.key.key-generic#k_88 ㅌ
		button.key.key-generic#k_67 ㅊ
		button.key.key-generic#k_86 ㅍ
		button.key.key-generic#k_66 ㅠ
		button.key.key-generic#k_78 ㅜ
		button.key.key-generic#k_77 ㅡ
		button.key.key-generic#k_188.
			#[span.key-label.key-label-top &lt;]
			#[span.key-label.key-label-bottom ,]
		button.key.key-generic#k_190.
			#[span.key-label.key-label-top &gt;]
			#[span.key-label.key-label-bottom .]
		button.key.key-generic#k_191.
			#[span.key-label.key-label-top ?]
			#[span.key-label.key-label-bottom /]
		button.key.key-rshift#k_rshift
	div.key-row
		button.key.key-space#k_32