div#loading.center
	div.preloader-wrapper.big.active
		div.spinner-layer.spinner-blue-only
			div.circle-clipper.left
				div.circle
			div.gap-patch
				div.circle
			div.circle-clipper.right
				div.circle