@media only screen and (max-width: 500px) {
    .keyboard {
        display: none;
    }
	.page-container{
		padding: 1em 2.5em;
	}
	nav{
		margin-bottom: 32px;
	}
	footer.page-footer{
		margin-top: 32px;
	}
}
@media only screen and (min-width: 500px) {
	.keyboard{
		width: 508px;
		height: auto;
	}
	.page-container{
		padding: 2em 5em;
	}
	nav{
		margin-bottom: 64px;
	}
	footer.page-footer{
		margin-top: 64px;	
	}
}
h1, h2, h3, h4, h5, h6{
	color: #007dff;
}
html{
	font-size: 17px;
}
p{
	margin: 1.5em 0;

}
textarea.materialize-textarea{
	padding: 0.5rem;
}
.collection a.collection-item{
	color: #000;
}
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #007dff;
    box-shadow: 0 1px 0 0 #007dff;
}
nav{
	border-bottom: 10px solid #000;
	
}
footer.page-footer{
	border-top: 10px solid #000;
}
.page-container {
	border: 3px solid rgba(0,125,255,0.2);
	box-shadow: 0 4px 16px rgba(50,50,50,0.5);
	border-radius: 35px;
	min-height: 900px
}
.keyboard{
	text-align:center;
	user-select: none;
	padding: 0.7em;
	border: 2px solid rgba(0,125,255,0.1);
	box-shadow: 0 4px 16px rgba(50,50,50,0.2);
	background-color: #fff;
	margin: 34px auto;
	overflow-y: hidden;
}
.keyboard button{
	outline: none;
	text-decoration: none;
}
.keyboard .key-row .minimize{
	position: relative;
	border: 0;
	margin-left: auto;
	background: none;
	width: 30px;
	height: 30px;
}
.keyboard.minimize{
	height: 46px;
}
.minimize .minimize-label{
	position:absolute;
	bottom: 5px;
	right: 6px;
	width: 100%;
	height: 8px;
	border: 2px solid rgba(0,125,255,0.3);
	border-radius: 3px;
}
.key-active, .keyboard .key:active{
	background: #007dff !important;
	background-image: -webkit-radial-gradient(circle,#a8cdf5,#7fbeff) !important;
}
.key-row{
	display:flex;
}
.key{
	position:relative;
	height: 30px;
	background: #d5eaff;
	border: 1px solid #ccc;
	margin: 2px;
	border-radius: 2px;
	background-image: -webkit-linear-gradient(top,#fafafa,#d5eaff);
}
.key-label{
	font-size: 0.7em;
	position:absolute;
	left:0;
	right:0;
}
.key-label-top{
	top: 1px;
}
.key-label-bottom{
	bottom: 1px;
}
.key-generic{
	width: 30px;
}
.key-tab{
	width: 42px;
}
.key-capslock{
	width: 54px;
}
.key-lshift{
	width: 70px;
}
.key-backspace{
	width: 58px;
}
.key-backslash{
	width: 46px;
}
.key-return{
	width: 68px;
}
.key-rshift{
	width: 86px;
}
.key-space{
	margin-left: 130px;
	width: 215px;
}
.play{
	position: relative;
	display: block;
	opacity: 0.7;
	margin: 0 auto;
	border: 10px solid #007dff;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: none;
}
.play:hover{
	opacity: 1;
}
.play:focus{
	background: none;
}
.play-icon, .stop-icon{
	position: absolute;
	margin: auto;
	right: 0;
	top: 0;
	bottom: 0;
	width: 0;
	height: 0;
}
.play-icon{
	left: 15px;
	border-top: 40px solid transparent;
	border-bottom: 40px solid transparent;
	border-left: 70px solid #007dff;
}
.stop-icon{
	border: 35px solid #007dff;
	left: 0;
	border-radius: 5px;
}