doctype html
html
	head
		title some title
		include ../base/head.pug
	body
		include ../base/nav.pug
		
		div.container.page-container
			h4 some header
			p some text

		include ../base/keyboard.pug
		include ../base/footer.pug
		include ../base/js.pug