- var theCategory = category[0].toUpperCase()+category.slice(1)
doctype html
html
	head
		title KOREA 101R - #{theCategory}
		include ../base/head.pug
	body
		include ../base/nav.pug
		
		div.container.page-container
			h4 #{theCategory}
			p #{description}
			div.row
				div.col.s12.l10.offset-l1
					ul.collection.with-header
						li.collection-header
							h5 Exercises
						a(href="/${theCategory}/1").collection-item 
							li 1

		include ../base/footer.pug
		include ../base/js.pug